@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

/* * globals **/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  /* background-color: red; */
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  background-color: transparent;
  /* margin-inline: auto; */
}

input {
  border: none;
}

/** variables **/
:root {
  /** colors **/
  --Bright-Red: hsl(12, 88%, 59%);
  --Dark-Blue: hsl(228, 39%, 23%);

  --Dark-Grayish-Blue: hsl(227, 12%, 61%);
  --Very-Dark-Blue: hsl(233, 12%, 13%);
  --Very-Pale-Red: hsl(13, 100%, 96%);
  --Vary-Light-Gray: hsl(0, 0%, 98%);

  /** ========== font ========== **/

  /** ===== family ===== **/

  /** ===== size =====**/
  /** heading **/
  --fnsz-hd-1: 2.25rem;
  --fnsz-hd-2: 2rem;
  --fnsz-hd-3: 1rem;

  /** ===== color =====**/
  /** heading **/
  --color-hd-1: var(--Dark-Blue);
  --color-hd-2: var(--Dark-Blue);
  --color-hd-3: var(--Dark-Blue);
  --color-hd-4: var(--Dark-Blue);

  /** p**/
  --color-p: var(--Dark-Grayish-Blue);

  /** links **/
  --color-links: var(--Dark-Blue);

  /** ========== spacing ========== **/

  /** ===== header ===== **/

  /** nav **/
  --spc-pd-sides-nav: clamp(1.38rem, calc(-1.26rem + 11.24vw), 9.88rem);
  --spc-pd-top-nav: 2.563rem;
  --spc-mrg-nav-sides: 1.375rem;

  /** ===== section ===== **/

  --spc-pd-sides-sctn: 1.875rem;

  /** hero **/
  /** top: 48px to ?, bottom: 48px to ? **/
  --spc-mrg-top-hero: 3rem;

  /** content  **/
  /** general-sides: 30px to 158px, bottom-bring-everyone: 96px to ?, bottom-different:  30px to ?  **/
  --spc-pd-sides-brg: 1.875rem;
  --spc-mrg-bottom-brg: 5.875rem;
  --spc-pd-sides-mng: 1.25rem;

  /** content-2 **/
  /** left: 12px to ? 158px, rigth: 24px to ? 158px, bottom: 48px to ?  **/
  --spc-pd-left-points: 0.75rem;
  --spc-pd-right-points: 1.5rem;

  /** comments **/
  /** top: 78px to ? **/
  /** sides: 44px to ? 158px, bottom: 48px to ?** /

  /** ========== templeating ========== **/

  /** ===== bnts ===== **/

  /** === btn started === **/
  /** bgk **/
  --bgk-btn-started: var(--Bright-Red);
  /** color **/
  --color-btn-started: var(--Vary-Light-Gray);

  /** === span === **/
  /** bgk **/
  --bkg-span-points: var(--Bright-Red);
  /** color **/
  --color-span-points: var(--Vary-Light-Gray);
}

/** ===== typography ===== **/

h1 {
  font-size: var(--fnsz-hd-1);
  color: var(--color-hd-1);
}
@media (min-width: 1024px) {
  h1 {
    --fnsz-hd-1: 2.5rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    --fnsz-hd-1: 3rem;
  }
}

@media (min-width: 1440px) {
  h1 {
    --fnsz-hd-1: 4rem;
  }
}

h2 {
  font-size: var(--fnsz-hd-2);
  color: var(--color-hd-2);
}

@media (min-width: 1440px) {
  h2 {
    --fnsz-hd-2: 3rem;
  }
}

h3 {
  font-size: var(--fnsz-hd-3);
  color: var(--color-hd-3);
}

h4 {
  color: var(--color-hd-4);
}

h5 {
  padding: 0 2.5rem;
  font-size: var(--fnsz-hd-1);
  font-weight: 500;
  color: white;
}

p {
  color: var(--color-p);
  line-height: 1.5rem;
}

a {
  color: var(--color-links);
  font-weight: 700;
  cursor: pointer;
}
/* 
@media (min-width: 1024px) {
  a {
    font-weight: 500;
  }
} */

.text-aling {
  text-align: center;
}
@media (min-width: 1024px) {
  .text-aling {
    text-align: start;
  }
}

/** ===== spacing ===== **/

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.p-0 {
  padding: 0;
}

.gap-1 {
  gap: 1rem;
}

/** ===== layouts ===== **/

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.aling-center {
  align-items: center;
}

.space-btw {
  justify-content: space-between;
}

.aling-start {
  align-items: flex-start;
}

/** ========== components ==========**/

/** ===== btns =====**/

.btn-started {
  background-color: var(--bgk-btn-started);
  color: var(--color-btn-started);
  padding: 1rem 2.2rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

.white {
  background-color: white;
}

.color {
  color: var(--Bright-Red);
}

/** ====== span ======**/
.span-points {
  background-color: var(--bkg-span-points);
  color: var(--color-span-points);
  padding: 0.5rem 1.4rem;
  border-radius: 5rem;
  margin-right: 0.5rem;
}

@media (min-width: 1024px) {
  .span-points {
    margin-right: 1.5rem;
  }
}

/** ========== container ========== **/
.container {
  padding: 0 var(--spc-pd-sides-sctn);
}

/** ========== own styles =========* */

/** ===== hero ===== **/

/** nav **/

.nav {
  padding: 0 var(--spc-pd-sides-nav);
  padding-top: var(--spc-pd-top-nav);
}

@media (min-width: 1024px) {
  .navbar {
    display: none;
  }
}

.navbar-links {
  background-color: white;
  border-radius: 0.2rem;
  margin: 0 var(--spc-mrg-nav-sides);
  margin-top: 2rem;
  padding: 2rem 0;
  gap: 1.5rem;
  display: none;
}

/** navdesktop **/

.navbar-desktop {
  display: none;
}
@media (min-width: 1024px) {
  .navbar-desktop {
    display: flex;
    justify-content: space-between;
  }
}

.navbar-links-desktop {
  gap: clamp(1rem, calc(0.65rem + 1.5vw), 2rem);
}

/** ===== main ===== **/

/** content **/

@media (min-width: 768px) {
  .content {
    padding: 0 var(--spc-pd-sides-nav);
    margin-top: 5rem;
  }
}

@media (min-width: 1024px) {
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 8rem 7rem;
  }

  .bring {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

/** hero **/

.hero {
  display: flex;
  justify-content: center;
  margin-top: var(--spc-mrg-top-hero);
}

@media (min-width: 1024px) {
  .hero {
    margin-top: 0;
    height: 100%;
  }
}

.hero-img-container {
  padding: 0 1.25rem;
}

/** questions **/

.bring-container {
  margin-bottom: var(--spc-mrg-bottom-brg);
  padding: 0 var(--spc-pd-sides-brg);
}

@media (min-width: 768px) {
  .bring-container {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .bring-container {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .p-container-bring {
    max-width: 22.188rem;
    margin-bottom: 2rem;
  }
}

/** manage **/

@media (min-width: 1024px) {
  .manage {
    height: 100%;
  }
}

.manage-container {
  padding: 0 var(--spc-pd-sides-mng);
}
@media (min-width: 768px) {
  .manage-container {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .p-container-manage {
    width: 23.125rem;
  }
}

/** ===== points ===== **/

.points-container {
  padding-left: var(--spc-pd-left-points);
  padding-right: var(--spc-pd-right-points);
  margin-top: 3rem;
}

@media (min-width: 1024px) {
  .points-container {
    margin-top: 0;
  }
}

/** track **/

/** track **/

.grid-points {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  justify-content: center;
}

.span-points {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.p-points {
  grid-column: 1 / 3;
}

@media (min-width: 1024px) {
  .p-points {
    grid-column: 2 / 3;
  }
}

.track-title,
.report-title,
.place-title {
  gap: 0.5rem;
}

/** ========== comments ==========**/

.comments-container {
  padding: 0 var(--spc-pd-left-points);
  text-align: center;
}

@media (min-width: 1024px) {
  .comments-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}

@media (min-width: 1480px) {
  .comments-content {
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .comment {
    max-width: 28.75rem;
  }
}

/** ===== comment ===== **/

.comment {
  background-color: var(--Vary-Light-Gray);
  position: relative;
  margin-top: 6rem;
}

.comment-user-img-container {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
}

.comment-user-img {
  width: 5rem;
  position: absolute;
  left: auto;
  right: auto;
  top: -2.5rem;
}

.name {
  padding-top: 1rem;
}

.user-comment {
  padding-bottom: 3rem;
}

@media (min-width: 1024px) {
  .user-comment {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/** ===== btns ===== **/

.btn {
  width: 0.1rem;
  height: 0.8rem;
  /* background-color: var(--Bright-Red); */
  border: 1px solid var(--Bright-Red);
  border-radius: 50%;
}

.btns-slider {
  margin-bottom: 3rem;
}
@media (min-width: 1024px) {
  .btns-slider {
    display: none;
  }
  .mt-4 {
    margin-top: 4rem;
  }
}

/** ========= team works ========== **/

.team-works {
  margin-top: 4rem;
  background-color: var(--Bright-Red);
}

.team-works-container {
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .team-works-container {
    padding: 5rem var(--spc-pd-sides-nav);
  }
}

@media (min-width: 1024px) {
  .team-works-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .hd-team-works {
    margin: 0;
    max-width: 30.938rem;
  }
}

/** ========= footer =========**/

.footer {
  background-color: var(--Very-Dark-Blue);
}

.footer-container {
  padding: 3rem var(--spc-pd-right-points);
  gap: 3.5rem;
}

@media (min-width: 1051px) {
  .footer-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 3rem var(--spc-pd-sides-nav);
  }
}

/** ===== update =====**/

@media (min-width: 1358px) {
  .update {
    max-width: 32.813rem;
  }
}

.inp-update {
  padding: 1rem;
  border-radius: 5rem;
}

.inp-update::placeholder {
  font-family: "Be Vietnam Pro", sans-serif;
}

.go {
  padding: 1rem 2rem;
  background-color: var(--Bright-Red);
  color: white;
  border-radius: 5rem;
}

/** ===== navfooter ===== **/

/* @media (min-width: 1358px) {
  .navfooter {
    width: 100%;
  }
} */
/** navbar-footer **/
.navbar-footer {
  justify-content: space-evenly;
  gap: clamp(1rem, calc(-5.01rem + 25.65vw), 20rem);
}

/* @media (min-width: 1358px) {
  .navbar-footer {
    gap: 20rem;
  }
} */

.link-footer {
  --color-links: white;
  font-weight: 400;
  cursor: pointer;
}

/** social media **/

.social-media {
  width: 100%;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-around;
}

@media (min-width: 1024px) {
  .social-media {
    width: auto;
    flex-direction: column-reverse;
  }
}

.social-media-icons {
  width: 100%;
  justify-content: space-around;
}
@media (min-width: 1024px) {
  .social-media-icons {
    gap: 1rem;
  }
}

.social-media-icons > img {
  width: 2rem;
}

/** logo footer**/

.logo-footer {
  justify-content: center;
}

/** cr **/

.copy-r {
  text-align: center;
  color: var(--Dark-Grayish-Blue);
}
