/** globals **/
/** variables **/
:root {
  /** colors **/
  /** ========== font ========== **/
  /** ===== family ===== **/
  /** ===== size =====**/
  /** ===== color =====**/
  /** ========== spacing ========== **/
  /** ===== body ===== **/
  /** ===== header ===== **/
  /** ===== section ===== **/
  /** ========== templeating ========== **/
}
/** ===== typography ===== **/
/** ===== spacing ===== **/
/** ===== layouts ===== **/
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
}
.aling-centero {
  align-items: center;
}
.space-btw {
  justify-content: space-between;
}
/** ========== components ==========**/
/** ========== own styles =========**/
